/* ******************
        NEWS
******************* */
.news {
  padding-top: 34px;
  h2 {
    padding-bottom: 30px;
    @include fonts($font-text, 60px);
    @extend .text-center, .position-relative;
    &::before {
      content: "";
      background-color: $dark;
      width: 150px;
      height: 2px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
    }
    @media (max-width: 991.98px) {
      padding-bottom: 0;
      font-size: 45px;
    }
    @media (max-width: 575.98px) {
      font-size: 30px;
    }
  }
  &-boxes {
    padding: 65px $p-6 25px;
    @extend .row, .mx-0;
    @media (max-width: 991.98px) {
      padding: 45px 30px 20px;
    }
    @media (max-width: 575.98px) {
      padding: 30px 0 15px;
    }
  }
  &-box {
    padding-bottom: 10px;
    @extend .col-md-4, .row, .px-0, .mx-0;
    div {
      @extend .p-0, .p-md-1, .p-xl-0;
      &:first-child {
        @extend .col-xl-5, .col-md-12, .col-sm-7;
      }
      &:last-child {
        @extend .col-xl-7, .col-md-12, .col-sm-5;
      }
    }
    img {
      width: 100%;
      @extend .img-fluid;
    }
    p {
      padding: 0 0 0 40px;
      line-height: 36px;
      @include fonts($font-text, 24px, 500);
      &:hover {
        color: $info;
      }
      span {
        @include fonts($font-muted, 16px);
      }
      @media (min-width: 1200px) {
        white-space: pre-line;
      }
    }
  }
}
