.header-search {
  position: absolute;
  top: 28px;
  right: 0;
  transform: translateY(-50%);

  &.on {
    animation-name: in-out;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  input {
    box-sizing: border-box;
    width: 17px;
    height: 17px;
    border: 2px solid $dark;
    border-radius: 50%;
    background: none;
    color: $dark;
    font-size: 15px;
    font-weight: 400;
    outline: 0;
    top: 50%;
    transition: width 0.3s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    transition-delay: 0.3s;
    transform: translate(-20px, -50%);
  }

  .search {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    padding: 0;
    border-radius: 100%;
    outline: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: translate(-20px, -7px);

    &:before {
      content: "";
      position: absolute;
      width: 7px;
      height: 2px;
      background-color: $dark;
      transform: rotate(45deg);
      margin-top: 7px;
      margin-left: 2px;
      transition: 0.2s ease-in-out;
    }
  }

  .close {
    transition: 0.3s ease-in-out;
    transition-delay: 0.3s;

    &:before {
      content: "";
      position: absolute;
      width: 17px;
      height: 4px;
      margin-top: 5px;
      margin-left: 215px;
      background-color: $dark;
      transform: rotate(45deg);
      transition: 0.2s ease-in-out;
    }

    &:after {
      content: "";
      position: absolute;
      width: 17px;
      height: 4px;
      background-color: $dark;
      margin-top: 5px;
      margin-left: 215px;
      cursor: pointer;
      transform: rotate(-45deg);
    }
  }

  .square {
    box-sizing: border-box;
    padding: 0 40px 0 10px;
    width: 250px;
    height: 36px;
    border: 2px solid $dark;
    border-radius: 5px;
    background: none;
    color: $dark;
    font-size: 22px;
    outline: 0;
    transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.2s;
    transition-delay: 0.3s, 0s, 0.3s;
    transform: translate(-10px, -5px);
  }
}
