$font-text: "Poppins", sans-serif;
$font-muted: "Nunito", sans-serif;

/// black
/// @type Color
$black: #000;
/// dark
/// @type Color
$dark: #1a1a1d;
/// primary
/// @type Color
$primary: #b4d3d3;
/// grey
/// @type Color
$secondary: #96969b;
/// dark-silver muted
/// @type Color
$muted: #696970;
$muted: #77777e !default;
/// Copy text info
/// @type Color
$text-info: #87bbbc !default;
/// silver
/// @type Color
$silver: #f5f5f5;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;

/// padding
$p-6: 60px;
